/* * {
    padding: 0;
    margin: auto 0;
}

.box-model {
    box-sizing: border-box;
} */

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}


header {
    height: 100px;
    width: 100%;
    background-color: cyan;
    
}

header h1 {
    font-size: 24px;
    margin: 20px;
}

.container-1 {
    border: dotted black 2px;
    padding: 20px;
    margin: 20px;
}

.rectangle {
    background-color: purple;
    border: red solid 5px;
    width: 200px;
    height: 80px;
    margin: 15px;
    display: inline-block;
}

.s-square {
    height: 75px;
    width: 50px;
    background-color: blue;
    -webkit-box-shadow: 5px 5px 8px 3px #000000; 
    box-shadow: 5px 3px 8px 0px #000000;
    margin: 15px;
    display: inline-block;
    bottom: 1px;
}

.l-square {
    background-color: rgb(243, 145, 161);
    height: 150px;
    width: 200px;
    margin: 15px;
    display: inline-block;
    border: solid black 1px;
}

.container-2 {
    border: dotted black 2px;
    padding: 20px;
    margin: 20px;
}

.left-eye {
    height: 5px;
    width: 5px;
}

.right-eye {
    height: 5px;
    width: 5px;
}

.button {
    height: 5px;
    width: 5px;
}

































